@import url(./_normalize.scss);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }
}
.header {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 155px;
  padding-bottom: 155px;
  display: flex;
  justify-content: space-between;
}
.header__text {
  display: flex;
  flex-direction: column;
}
.header__text-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  max-width: 184px;
  padding: 14px 27px;
  background: #3d42d0;
  border: 0;
  border-radius: 32px;
  cursor: pointer;
}
.header__text-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160.49%;
  margin-top: 21px;
  margin-bottom: 32px;
  color: #585864;
}

@media (max-width: 1023px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 717px;
  }
  .header__img {
    max-width: 717px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .header__img img {
    max-width: 100%;
  }
}
.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(#3d42d0 100%, #50aff6 100%);
}

.info {
  position: relative;
  overflow: hidden;
}
.info__container {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  padding-left: 15px;
  padding-right: 15px;
}
.info__cloud {
  position: absolute;
  z-index: -1;
}
.info__cloud-1 {
  width: 170px;
  left: -100px;
  top: 30px;
}
.info__cloud-2 {
  width: 284px;
  right: -160px;
  top: 230px;
  filter: blur(6px);
}
.info__cloud-3 {
  width: 148px;
  filter: blur(8px);
  top: 500px;
  left: -180px;
}
.info__cloud-4 {
  width: 148px;
  filter: blur(8px);
  right: -200px;
  top: 720px;
}
.info__cloud-5 {
  width: 478px;
  filter: blur(10px);
  top: 1000px;
  left: -360px;
}
.info__cloud-6 {
  width: 478px;
  filter: blur(10px);
  top: 1100px;
  right: -300px;
}
.info__title {
  color: #2a293a;
  margin-bottom: 65px;
}
.info__points {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 0 auto;
  max-width: 626px;
  width: 100%;
}
.info__point {
  max-width: 456px;
  width: 100%;
  padding: 2px;
  border-radius: 32px;
  background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
}
.info__point-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.info__point-background {
  background: #fdfdff;
  border-radius: 30px;
  padding: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.5%;
  color: #585864;
}
.info__point-img-first {
  width: 56px;
  height: 55px;
}
.info__point-circle {
  width: 31px;
  height: 31px;
  background: #3d42d0;
  border-radius: 50%;
  position: relative;
}
.info__point-circle::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  background: linear-gradient(#3d42d0 1.2%, #50aff6 82.16%);
}
.info__point-circle-last {
  width: 31px;
  height: 31px;
  background: #3d42d0;
  border-radius: 50%;
}
.info__point-circle-first::before {
  height: 180px;
}
.info__point-circle-light {
  background: #50aff6;
}
.info__screen {
  background: #1e1d28;
  border-radius: 48px 48px 0px 0px;
  position: relative;
  margin-top: 100px;
  max-width: 1008px;
  width: 100%;
  height: 576px;
}
.info__screen-camera {
  height: 8px;
  width: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 8px;
  border-radius: 50%;
  background: #e9e9ff;
}
.info__screen-filler {
  background: #e9e9ff;
  border-radius: 27px;
  margin: auto;
  margin-top: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__screen-filler-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 238px;
  height: 66px;
  border-radius: 32px;
  background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
}
.info__screen-filler-btn-background {
  padding: 2px;
  border-radius: 32px;
  width: 234px;
  height: 62px;
  background: #e9e9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.info__screen-filler-btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.info__screen-filler-btn-play {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__screen-filler-btn-play-background {
  background: #e9e9ff;
  padding: 2px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .info__point-circle {
    display: none;
  }
  .info__point-circle::before {
    content: none;
  }
  .info__point-circle-last {
    display: none;
  }
}
@media (max-width: 544px) {
  .info__point-container {
    flex-direction: column-reverse;
  }
}
.challenges {
  background: #3d42d0;
  padding-top: 90px;
  padding-bottom: 120px;
  background-image: url(./img/challenges-background.png);
}
.challenges__container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.challenges__title {
  color: #fdfdff;
  margin-bottom: 40px;
}
.challenges__points {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.challenges__point {
  max-width: 619px;
  width: 100%;
  min-height: 72px;
  padding: 24px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #202373;
  border-radius: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #e9e9ff;
  position: relative;
}
.challenges__point-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  border: 2px solid #e9e9ff;
  background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
  position: absolute;
  left: -25px;
}
.challenges__point-number-first:after {
  content: "";
  background: url(./img/challenges-line.png);
  position: relative;
  bottom: -57px;
  right: 10px;
  width: 2px;
  height: 22px;
}
.challenges__point-checkmarked {
  border: 2px solid #fdfdff;
  position: relative;
  left: 5px;
  max-width: 662px;
}
.challenges__point-checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  border: 2px solid #e9e9ff;
  background: #202373;
  position: absolute;
  left: -45px;
}
.challenges__point-checkmark-inner {
  width: 61px;
  height: 61px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdff;
}
.challenges__point-checkmark-inner img {
  width: 50px;
  filter: invert(22%) sepia(6%) saturate(6344%) hue-rotate(201deg) brightness(95%) contrast(118%);
}

@media (max-width: 767px) {
  .challenges__points {
    padding-left: 40px;
  }
  .challenges__point-number-first::after {
    content: none;
  }
  .challenges__point-checkmarked {
    left: 0;
    padding-left: 50px;
  }
}
.deployment {
  padding-top: 90px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  overflow: hidden;
}
.deployment__cloud {
  position: absolute;
  z-index: -1;
}
.deployment__cloud-1 {
  width: 148px;
  right: 20px;
  top: 95px;
  filter: blur(4px);
}
.deployment__cloud-2 {
  width: 284px;
  filter: blur(3px);
  left: -80px;
  top: 300px;
}
.deployment__cloud-3 {
  width: 478px;
  filter: blur(2px);
  bottom: -200px;
  right: -200px;
}
.deployment__title {
  color: #2a293a;
  margin-bottom: 62px;
}
.deployment__img {
  max-width: 750px;
  width: 100%;
}

.general {
  background: #3d42d0;
  padding-top: 90px;
  padding-bottom: 100px;
  overflow: hidden;
  background-image: url(./img/general/general-back3.png);
}
.general__container {
  position: relative;
}
.general__back {
  position: absolute;
  z-index: -1;
}
.general__back-1 {
  left: 0px;
  top: 0px;
}
.general__back-2 {
  right: 0;
  top: 10px;
}
.general__container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.general__title {
  color: #fdfdff;
  margin-bottom: 34px;
}
.general__cards {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 58px;
}
.general__card {
  background: #202373;
  border: 2px solid #e9e9ff;
  border-radius: 40px;
  min-height: 320px;
  max-width: 244px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.general__card-img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #e9e9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.general__card-img-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: linear-gradient(#3d42d0 100%, #50aff6 100%);
}
.general__card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 135.49%;
  color: #e9e9ff;
}
.general__cases {
  display: flex;
  justify-content: space-between;
}
.general__cases-btns {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 358px;
  width: 100%;
}
.general__cases-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fdfdff;
  max-width: 358px;
  width: 100%;
  padding-left: 50px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #202373;
  border-radius: 40px;
  border: 0;
  position: relative;
  cursor: pointer;
}
.general__cases-btn::after {
  content: "";
  background: url("./img/general/arrow.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  position: absolute;
  right: 26px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.4s all;
}
.general__cases-btn-active {
  background: linear-gradient(90.02deg, #50aff6 1.2%, #50aff6 82.16%);
}
.general__cases-btn-active::after {
  transform: rotate(180deg);
}
.general__cases-text {
  background: #202373;
  border-radius: 40px;
  border: 2px solid #e9e9ff;
  padding: 30px;
  max-width: 592px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 135.49%;
  color: #e9e9ff;
}
.general__link {
  height: 64px;
  padding-top: 66px;
  text-align: center;
}
.general__link a {
  padding: 20px 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #ededff;
  text-decoration: none;
  background: #202373;
  border-radius: 32px;
}

@media (max-width: 1023px) {
  .general__cards {
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .general__cases {
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .general__cases {
    flex-direction: column;
  }
  .general__cases-text {
    max-width: none;
  }
}
.help {
  padding-top: 70px;
  position: relative;
  overflow: hidden;
}
.help__cloud {
  position: absolute;
  z-index: -1;
}
.help__cloud-1 {
  width: 122px;
  right: 30px;
  top: 60px;
}
.help__cloud-2 {
  top: 155px;
  left: 25px;
  filter: blur(1px);
  transform: scaleX(-1);
}
.help__cloud-3 {
  width: 478px;
  right: -270px;
  top: 580px;
  filter: blur(5px);
}
.help__cloud-4 {
  width: 478px;
  left: -100px;
  top: 620px;
  filter: blur(7px);
}
.help__container {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.help__title {
  color: #2a293a;
  margin-bottom: 54px;
}
.help__text {
  max-width: 360px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #585864;
  margin-bottom: 45px;
}
.help__data {
  display: flex;
  flex-direction: column;
}
.help__data-row {
  display: flex;
  margin: 0;
}
.help__data-row:first-child .help__data-text {
  border-radius: 30px 0 0 0;
  border-bottom: 0;
}
.help__data-row:first-child .help__data-negative {
  border-radius: 0 30px 0 0;
  border-bottom: 0;
}
.help__data-row:first-child .help__data-positive {
  border-radius: 0 30px 0 0;
  border-bottom: 0;
}
.help__data-row:last-child .help__data-text {
  border-radius: 0 0 0 30px;
  border-bottom: 2px solid #3d42d0;
}
.help__data-row:last-child .help__data-negative {
  border-radius: 0 0 30px 0;
  border-bottom: 2px solid #3d42d0;
}
.help__data-row:last-child .help__data-positive {
  border-radius: 0 0 30px 0;
  border-bottom: 2px solid #3d42d0;
}
.help__data-text {
  max-width: 548px;
  width: 100%;
  padding: 18px 26px;
  border: 2px solid #3d42d0;
  border-bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #585864;
  display: flex;
  align-items: center;
}
.help__data-mark {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  padding: 18px 26px;
  border: 2px solid #3d42d0;
  border-left: 0;
  border-bottom: 0;
  max-width: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help__data-negative {
  color: #d81919;
}
.help__data-positive {
  color: #5ec94c;
}/*# sourceMappingURL=style.css.map */