@import url(./_normalize.scss);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  text-align: center;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }
}

.header {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 155px;
  padding-bottom: 155px;

  display: flex;
  justify-content: space-between;

  &__text {
    display: flex;
    flex-direction: column;

    &-btn {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      max-width: 184px;

      padding: 14px 27px;
      background: #3d42d0;
      border: 0;
      border-radius: 32px;
    }

    &-info {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 160.49%;

      margin-top: 21px;
      margin-bottom: 32px;

      color: #585864;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 717px;

    &__img {
      max-width: 717px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 40px;

    &__img {
      & img {
        max-width: 100%;
      }
    }
  }
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(#3d42d0 100%, #50aff6 100%);
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;

  &__title {
    color: #2a293a;
  }

  &__points {
  }

  &__point {
    max-width: 416px;
    width: 100%;
  }

  &__screen {
    background: #1e1d28;
    border-radius: 48px 48px 0px 0px;
    position: relative;

    margin-top: 100px;
    max-width: 1008px;
    width: 100%;
    height: 576px;

    &-camera {
      height: 8px;
      width: 8px;

      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 8px;

      border-radius: 50%;
      background: #e9e9ff;
    }

    &-filler {
      background: #e9e9ff;
      border-radius: 27px;

      margin: auto;
      margin-top: 24px;

      width: calc(100% - 48px);
      height: calc(100% - 48px);

      display: flex;
      justify-content: center;
      align-items: center;

      &-btn {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);
        border: 2px solid linear-gradient(#3d42d0 100%, #50aff6 100%);

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &-img {
          position: relative;
          width: 38px;
          height: 38px;
        }
        &-elipse {
          position: absolute;
        }
        &-play {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }
  }
}

.challenges {
  background: #3d42d0;
  padding-top: 90px;
  padding-bottom: 120px;

  &__container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__title {
    color: #fdfdff;
    margin-bottom: 40px;
  }

  &__points {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__point {
    max-width: 619px;
    width: 100%;
    min-height: 72px;
    padding: 24px;
    padding-left: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #202373;
    border-radius: 16px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #e9e9ff;

    position: relative;

    &-number {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 87px;
      height: 87px;
      border-radius: 50%;

      border: 2px solid #e9e9ff;

      background: linear-gradient(90.02deg, #3d42d0 1.2%, #50aff6 82.16%);

      position: absolute;
      left: -25px;

      &-first:after {
        content: "";
        background: url(./img/challenges-line.png);
        position: relative;
        bottom: -57px;
        right: 10px;
        width: 2px;
        height: 22px;
      }
    }

    &-checkmarked {
      border: 2px solid #fdfdff;
      position: relative;
      left: 5px;
      max-width: 662px;
    }

    &-checkmark {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 87px;
      height: 87px;
      border-radius: 50%;

      border: 2px solid #e9e9ff;

      background: #202373;

      position: absolute;
      left: -45px;
      &-inner {
        width: 61px;
        height: 61px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        background: #fdfdff;
        & img {
          width: 50px;
          filter: invert(22%) sepia(6%) saturate(6344%) hue-rotate(201deg)
            brightness(95%) contrast(118%);
        }
      }
    }
  }
}

.deployment {
  padding-top: 90px;
  padding-bottom: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  &__title {
    color: #2a293a;
    margin-bottom: 62px;
  }
  &__img {
    max-width: 750px;
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .deployment {
    &__img {
    }
  }
}

.general {
  background: #3d42d0;
  padding-top: 90px;
  padding-bottom: 100px;

  &__container {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__title {
    color: #fdfdff;
    margin-bottom: 34px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-bottom: 58px;
  }

  &__card {
    background: #202373;
    border: 2px solid #e9e9ff;

    border-radius: 40px;
    min-height: 320px;
    max-width: 244px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-img {
      width: 84px;
      height: 84px;

      border-radius: 50%;

      background: #e9e9ff;

      display: flex;
      justify-content: center;
      align-items: center;

      &-border {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 88px;
        height: 88px;
        border-radius: 50%;
        background: linear-gradient(#3d42d0 100%, #50aff6 100%);
      }
    }

    &-text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 135.49%;

      color: #e9e9ff;
    }
  }

  &__cases {
    display: flex;
    justify-content: space-between;

    &-btns {
      display: flex;
      flex-direction: column;
      gap: 45px;

      max-width: 358px;
      width: 100%;
    }

    &-btn {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;

      color: #fdfdff;

      max-width: 358px;
      width: 100%;
      padding-left: 50px;
      padding-right: 80px;
      padding-top: 15px;
      padding-bottom: 15px;

      background: #202373;
      border-radius: 40px;
      border: 0;

      position: relative;

      &::after {
        content: "";
        background: url("./img/general/arrow.png");
        background-repeat: no-repeat;
        width: 21px;
        height: 22px;
        position: absolute;
        right: 26px;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.4s all;
      }

      &-active {
        background: linear-gradient(90.02deg, #50aff6 1.2%, #50aff6 82.16%);
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &-text {
      background: #202373;
      border-radius: 40px;
      border: 2px solid #e9e9ff;

      padding: 30px;

      max-width: 592px;
      width: 100%;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 135.49%;

      color: #e9e9ff;
    }
  }
  &__link {
    height: 64px;

    padding-top: 66px;

    text-align: center;

    & a {
      padding: 20px 40px;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;

      color: #ededff;

      text-decoration: none;

      background: #202373;
      border-radius: 32px;
    }
  }
}

@media (max-width: 1023px) {
  .general {
    &__cards {
      flex-wrap: wrap;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
    &__cases {
      gap: 20px;
    }
  }
}

@media (max-width: 767px) {
  .general {
    &__cases {
      flex-direction: column;

      &-text {
        max-width: none;
      }
    }
  }
}

.help {
  &__container {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #2a293a;
  }

  &__text {
    max-width: 360px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #585864;
  }

  &__table {
    border-radius: 30px;
    max-width: 592px;
    margin: 0 auto;

    border: 2px solid #3d42d0;
    // border-collapse: collapse;
    border-spacing: 0;
    & tr {
      & td {
        border: 2px solid #3d42d0;
      }

      & td:first-child {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;

        color: #585864;

        padding-left: 26px;
      }
    }

    & tr.help__table-negative {
      & td:last-child {
        color: red;
      }
    }

    & tr.help__table-positive {
      & td:last-child {
        color: green;
      }
    }

    & tr:first-child {
      & td {
        padding-top: 18px;
        border-top-left-radius: 30px;
      }
    }
  }
}
